@import url(http://fonts.googleapis.com/css?family=Jura:400,600);
@import url(http://fonts.googleapis.com/css?family=Roboto:100,300);

@import url('/static/css/components/logo.css');
@import url('/static/css/components/nav.css');
@import url('/static/css/components/wrapper.css');


body {
    background: rgba(225,225,225,1);
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 16px;
    overflow-x: hidden;
    text-align: justify !important;
    text-justify: inter-word !important;
    color: #555;
}

h1, h2, h3, h4, h5 {
    font-weight: 100;
    color: black;
}