{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Andrew Venglar - {% block title %}Home{% endblock %}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/main.css' %}" />
    <script src="{% static 'js/libraries/jquery.min.js' %}"></script>
    <script src="{% static 'js/libraries/jquery.pjax.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <meta name=viewport content="width=device-width, initial-scale=1">
</head>
<body>
<div id="logo">
    <a href="{% url 'home' %}">venglar.com</a>
    <span>[don't overcomplicate it]</span>
</div>
<nav class="main navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div id="navbar" class="navbar-collapse collapse" aria-expanded="false" style="height: 1px;">
            <ul class="nav navbar-nav">
                <li><a href="{% url 'home' %}">Home</a></li>
                <li><a href="{% url 'portfolio' %}">About</a></li>
                <li><a href="{% url 'contact' %}">Contact</a></li>
            </ul>
        </div><!--/.nav-collapse -->
    </div><!--/.container-fluid -->
</nav>
<div id="wrapper">
    <div id="trans-wrap">
        <figure id="wrap-front">{% block content %}{% endblock %}</figure>
        <figure id="wrap-back"></figure>
    </div>
</div>
</body>
</html>